mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`images/${path}`).default class=className)

mixin nav(className, items, activeClass)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href="#")= item

mixin socials(className)
  ul(class=`${className}`)
    each social in ['insta', 'github', 'vk', 'envelope']
      li(class=`${className}__item`)
        a(href="#" class=`${className}__link`)
          +icon(`${social}`, `${className}__icon`)

mixin data-table(className, items)
  table(class=`${className}`)
    each item in items
      tr(class=`${className}-row`)
        td(class=`${className}-title`) #{item[0]}
        td(class=`${className}-content`) #{item[1]}

mixin taglist(className, tags)
  ul(class=`${className}`)
    each item in tags
      li(class=`${className}__item`)
        .tag #{item}
        